body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(248, 200, 248);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 3em;
  text-align: center;
}
.app {
  background-image: url(https://media.istockphoto.com/photos/cork-board-picture-id531568741?b=1&k=20&m=531568741&s=170667a&w=0&h=T4jyb_-64aiaJWpkPcytjp8mUdLE8xFdt-jett7WD2M=);
  padding: 30px;
  height: 100vh;
  align-content: center;
}

.todo-list {
  background: rgb(240, 149, 243);
  border-radius: 4px;
  padding: 10px;
  max-width: 400px;
  margin: auto;
}

.todo {
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 24px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo:hover {
  cursor: pointer;
  opacity: 0.5;
}

.input {
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  padding: 1rem;
  height: 2.25em;
  font-size: 24px;
}
